<!-- [ user activity section ] start -->
<div class="col-xl-8 col-md-12">
    <div class="card User-Activity">
        <div class="card-header">
            <h5>User Activity</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="card-block pb-0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Activity</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th class="text-right"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="../assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
                            </td>
                            <td>
                                <h6 class="m-0">The quick brown fox</h6>
                            </td>
                            <td>
                                <h6 class="m-0">3:28 PM</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-green">Done</h6>
                            </td>
                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                        </tr>

                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="../assets/images/user/avatar-2.jpg" alt="activity-user">Albert Andersen</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Jumps over the lazy</h6>
                            </td>
                            <td>
                                <h6 class="m-0">2:37 PM</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-red">Missed</h6>
                            </td>
                            <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                        </tr>

                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="../assets/images/user/avatar-3.jpg" alt="activity-user">Silje Larsen</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Dog the quick brown</h6>
                            </td>
                            <td>
                                <h6 class="m-0">10:23 AM</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-purple">Delayed</h6>
                            </td>
                            <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="../assets/images/user/avatar-1.jpg" alt="activity-user">Ida Jorgensen</h6>
                            </td>
                            <td>
                                <h6 class="m-0">The quick brown fox</h6>
                            </td>
                            <td>
                                <h6 class="m-0">4:28 PM</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-green">Done</h6>
                            </td>
                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- [ user activity section ] end -->